.card {
  border: 1px solid var(--eff-2-f-4, #EFF2F4);
  width: 280px;
  position: relative;
  text-align: left;
}
.skidka-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}
.skidka-text {
  position: absolute;
  top: 3px;
  left: 5px;
  color: var(--White, #fff);
  text-align: center;
  font-family: "Times New Roman";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1.625px;
  letter-spacing: 0.1px;
}
.card-title {
  color: var(--0-e-2149, #0e2149);
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.card-text {
  color: var(--111111, #343434);
  font-family: "Times New Roman";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.3px;
  width: 245px;
  height: 66px;
  flex-shrink: 0;
  text-align: left;
  margin-left: 20px;
}
.card-price {
  color: var(--0-e-2149, #0e2149);
  font-family: "Abhaya Libre";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  margin-bottom: 8px;
}
.card-item1 {
  color: var(--cfb-08-b, #d5af86);
  font-family: "Times New Roman";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  margin-left: 20px;
}

.card-item2 {
  width: 42px;
  height: 24px;
  flex-shrink: 0;
  background: var(--cfb-08-b, #d5af86);
  color: var(--White, #fff);
  font-family: "Abhaya Libre";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-left: 27px;
  padding: 4px;
}
.card-item3 {
  width: 122px;
  height: 24px;
  flex-shrink: 0;
  border: 1px solid var(--eff-2-f-4, #eff2f4);
  color: var(--717171, #717171);
  font-family: "Times New Roman";
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  padding: 4px;
}
.card-buttons {
    display: flex;
    justify-content: space-around;
    margin-block: 22px;
}