.banners {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.xit-buttons {
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.card-main {
    display: flex;
    justify-content: space-between;
}